<% content_for(:title) do -%>Import Observations<% end -%>
<% content_for(:extracss) do -%>
  <%= stylesheet_link_tag 'observations/new', 
                          "jquery/ui.tabs.css" %>
  <style type="text/css" media="screen">
    #pageheader p{margin-bottom:0;}
    #tabs div .description.readable{margin-bottom:10px;}
    .buttonrow label{padding-top:9px;}
    .buttonrow label,
    .buttonrow .button,
    .buttonrow .text{margin-bottom:0;}
    #csv_import .description table td,
    #csv_import .description table th{border:1px solid #ddd;border-left:0 none;padding:0.5em;}
    #csv_import .description table th:first-child,
    #csv_import .description table td:first-child{border:1px solid #ddd;}
    #csv_import .description code{display:block;overflow:auto;font-size:larger;}
  </style>
<% end -%>
<% content_for(:extrajs) do -%>
  <%= javascript_include_tag "jquery/plugins/inat/photo_selectors.js" %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect.html_safe};" if protect_against_forgery? %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#tabs').tabs();
      
      $('#photos').photoSelector({
        <%- if @default_photo_identity_url -%>
          baseURL: <%= @default_photo_identity_url.inspect.html_safe %>,
        <%- end -%>
        <%- unless @photo_identity_urls.blank? %>
          urls: [<%= @photo_identity_urls.join(', ').html_safe %>],
        <% end -%>
        skipLocal: true,
        urlParams: {
          authenticity_token: AUTH_TOKEN,
          limit: 30
        }
      });
    });
  </script>
<% end -%>
<div id="pageheader" class="column span-24">
  <div class="column span-12">
    <h2>Import Observations</h2>
  </div>
  <div class="last column span-12">
    <%= render :partial => 'new_nav' %>
  </div>
  <div class="column span-24">
    <p class="description">
      Got your data somewhere else?  We can help.
    </p>
  </div>
</div>

<div class="column span-24">
  <div id="tabs" class="ui-tabs">
    <ul>
      <li><a href="#photo_import"><span>Import from Photos</span></a></li>
      <li><a href="#csv_import"><span>Import from CSV</span></a></li>
      <% if is_admin? || is_pro? || is_curator? %>
      <li><a href="#bulk_import"><span>Bulk CSV Import</span></a></li>
      <% end %>
    </ul>
    
    <div id="photo_import">
      <% if current_user.flickr_identity || current_user.picasa_identity || current_user.facebook_identity %>      
        <%= form_tag({:action => 'import_photos'}) do %>
        
          <div class="readable description">
            Select photos from your photo stream to convert into <%= CONFIG.site_name %>
            observations. We'll fill in the date, time, and location from a
            photo's metadata, and try to look up species names from the tags.
          </div>
          <div id="photos" class="clear stacked"></div>
          <%= submit_tag("Import photos", :class => 'default button', "data-loading-click" => "Importing...") %>
        <% end %>
      <% else %>
        <div class="notice">
          You'll need to link
          <%= link_to('your Flickr account', :controller => 'flickr', :action => 'options') %> or
          <%= link_to('your Picasa account', :controller => 'picasa', :action => 'options') %>
          before importing photos.
        </div>
      <% end %>
    </div>

    <div id="csv_import">
      <div class="readable description">
        Upload a CSV file with observation data. If you have your data in a
        spreadsheet or database, this is probably the way to go.
      </div>
      
      <div class="box">
        <%= form_tag(new_observation_batch_csv_path, 
            :id => 'new_batch_form', 
            :class => 'clear observationform', 
            :multipart => true) do %>
          <div class="buttonrow">
            <label for="upload_file">Upload CSV file</label>
            <%= file_field 'upload', 'datafile', :class => 'text' %>
            <%= submit_tag "Upload", :class => 'default button', "data-loading-click" => "Importing..." %>
          </div>
        <% end %>
      </div>
      
      <div class="description">
        <h3>Rules &amp; Formatting</h3>
        <ol>
          <li>No header row</li>
          <li>Only files with 100 rows at a time, please</li>
          <li>Surround any cells containing commas with double quotes</li>
          <li>Don't use double quotes anywhere else</li>
          <li>
            <p class="ui">We can only understand CSV in the following format:</p>
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <th>Taxon name</th>
                <th>Date observed</th>
                <th>Description</th>
                <th>Place name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Tags</th>
              </tr>
              <tr>
                <td>text</td>
                <td>YYYY-MM-DD HH:MM</td>
                <td>text (if it contains commas, enclose in double quotes)</td>
                <td>text</td>
                <td>dd.dddd</td>
                <td>dd.dddd</td>
                <td>text</td>
              </tr>
            </table>

            <p class="ui">Here are 3 examples of well-formed data:</p>
            
<code>Anna's Hummingbird,2008-03-03 2:54pm,"An aggressive male dive-bombed my head, so I took cover.","Tilden Regional Park, Berkeley, CA, USA",37.8953,-122.249,"attack, danger"
Sharp-tailed Snake,2007-08-20,"Beautiful little creature","Leona Canyon Regional Park, Oakland, CA, USA",37.7454,-122.111,"cute, snakes"
Golden Eagle,,"I'm not really sure when or where this was",,,,"mysterious"</code>
          </li>
        </ol>
      </div>
    </div>

    <% if is_admin? || is_pro? || is_curator? %>
    <div id="bulk_import">
      <div class="readable description">
        Upload a larger CSV file with observation data. This is similar to the CSV upload option
        except that this allows a larger data set (10k rows) to be imported. This is also done
        as a background process, and you will be sent an email on completion.
      </div>

      <div class="column">
        <%= form_tag(new_observation_bulk_csv_path,
                     :id => 'new_bulk_form',
                     :class => 'clear observationform',
                     :multipart => true) do %>
          <div class="column field span-16">
            <div class="column span-4">
              <h3><label for="upload_file">Upload CSV file</label></h3>
            </div>
            <div class="last column span-12">
              <%= file_field 'upload', 'datafile', :class => 'text' %>
            </div>
          </div>
          <div class="column field span-16">
            <div class="column span-4">
              <h3><label for="project">Add to Project</label></h3>
            </div>
            <div class="last column span-12">
              <%= select 'upload', :project_id, @projects, { :include_blank => 'None' } %>
            </div>
          </div>
          <div class="column field span-16">
            <div class="column span-4">
              <h3><label for="project">Coordinate System</label></h3>
            </div>
            <div class="last column span-12">
              <%= select 'upload', :coordinate_system, { 'WGS84' => 'wgs84' }.update(coordinate_system_select_options) %>
            </div>
          </div>
          <div class="column span-16">
            <div class="buttonrow">
              <%= submit_tag "Upload", :class => 'default button', "data-loading-click" => "Importing..." %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="description">
        <h3>Rules &amp; Formatting</h3>
        <ol>
          <li>No header row</li>
          <li>Only files with 10,000 rows at a time, please</li>
          <li>Make sure it is well formed CSV - an export from any spreadsheet application (eg Excel, LibreOffice) should provide this.</li>
          <li>
            <p class="ui">We can only understand CSV in the following format:</p>
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <th>Field Name</th>
                <th>Field Type</th>
                <th>Value Format</th>
              </tr>
              <tr>
                <td>Taxon name</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Date observed</td>
                <td>date and time</td>
                <td><%= field_value_example('datetime') %></td>
              </tr>
              <tr>
                <td>Description</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Place name</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Latitude</td>
                <td>coordinate</td>
                <td><%= field_value_example('coordinate') %></td>
              </tr>
              <tr>
                <td>Longitude</td>
                <td>coordinate</td>
                <td><%= field_value_example('coordinate') %></td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Sex</td>
                <td>list</td>
                <td><%= field_value_example('list') %></td>
              </tr>
              <tr>
                <td>Stage</td>
                <td>list</td>
                <td><%= field_value_example('list') %></td>
              </tr>
              <tr>
                <td>Cultivated</td>
                <td>list</td>
                <td><%= field_value_example('list') %></td>
              </tr>
              <tr>
                <td>Number of individuals</td>
                <td>number</td>
                <td><%= field_value_example('number') %></td>
              </tr>
              <tr>
                <td>Sought by not found</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Geoprivacy</td>
                <td>list</td>
                <td><%= field_value_example('list') %></td>
              </tr>
              <tr>
                <td>Second Hand</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Uncertain</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Escaped</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Planted</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Ecologically Significant</td>
                <td>boolean</td>
                <td><%= field_value_example('boolean') %></td>
              </tr>
              <tr>
                <td>Observation Method</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Host Name</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Habitat</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Substrate</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Substrate Qualifier</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
              <tr>
                <td>Substrate Description</td>
                <td>text</td>
                <td><%= field_value_example('text') %></td>
              </tr>
            </table>

            <% if @projects.count > 0 %>
              <p class="ui">If a project has custom fields, add these to the end of each row, in the following order.</p>
              <% @project_templates.each do |project, project_fields| %>
                <% unless project_fields.empty? %>
                <p class="ui">For <strong><%= project %></strong>:</p>
                <table cellspacing="0" border="0" cellpadding="0">
                  <tr>
                    <th>Field Name</th>
                    <th>Field Type</th>
                    <th>Value Format</th>
                  </tr>
                  <% project_fields.each do |field| %>
                  <tr>
                    <td><%= field.name %></td>
                    <td><%= field.datatype %></td>
                    <td><%= field_value_example(field.datatype) %></td>
                  </tr>
                  <% end %>
                </table>
                <% end %>
              <% end %>
            <% end %>
          </li>
        </ol>
      </div>

    </div>
    <% end %>
  </div>
</div>
